body {
    font-family: Arial, sans-serif;
}
#maestro {
    float: left;
    width: 30%;
    background-color: #f4f4f4
    padding: 10px;
}
#detalle {
    float: right;
    width: 70%;
    padding: 10px;
}
